.NavBar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;

  .logo-header {
    padding: 8px 24px;
    font-size: 22px;
    font-weight: 600;
    margin: auto 0;
  }
  .menu-container {
    display: flex;
    padding: 8px 24px;
    font-size: 20px;
    font-weight: 600;
    .menu-item {
      padding: 16px;
    }
  }
  .left {
  }
  .right {
    margin: auto;
    right: 0;
    position: absolute;
    padding: 22px;
    cursor: pointer;
  }
}
