.DocView {
  .container {
    width: 500px;
  }
  margin: 60px;
  padding: 16px 8px;
  font-size: 18px;
  width: 100%;
  display: flex;
  justify-content: center;
  .header {
    width: 100%;
  }
  div {
    margin: 20px 0;
  }

  div:nth-child(-n + 2) {
    text-align: left;
  }

  div:nth-child(3) {
    //text-align: right;
  }

  .btn {
    position: relative;
    margin: 4px;
    // height: 40px;
    padding: 10px;
    border-radius: 4px;
    font-size: 18px;
    margin: 8px 16px 0 8px;
    border: 0pc;

    cursor: pointer;
    &.primary {
      background-color: #0e41bf;
      color: white;
      border-color: #0e41bf;
    }
    &.finished {
      background-color: #d8ebf6;
      color: #0e41bf;
    }
  }
}
