.DocumentListPanel {
  background-color: #f2f2f2;
  border-radius: 25px;
  padding: 24px;
  .header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .header {
      font-size: 30px;
      font-weight: 600;
      color: #4f4f4f;
      padding: 16px 0;
    }
    .detail {
      font-size: 14px;
      color: #4f4f4f;
      padding-bottom: 16px;
    }
  }
  .table-container {
    color: #4f4f4f;
  }
}
