#root {
  //overflow: hidden;
  // height: -webkit-fill-available;
  height: 100%;
}
.error {
  color: red;
}
.DocumentApplication {
  height: 100%;
  .header {
    font-size: 38px;
    font-weight: 700;
    color: #4f4f4f;
    padding: 8px 0;
  }
  .details {
    font-size: 20px;
    color: #4f4f4f;
    padding: 8px 0;
  }
  .CreateProject {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    // min-width: 800px;

    .sub-header {
      margin-top: 16px;
      font-size: 22px;
      font-weight: 700;
      color: #4f4f4f;
      padding: 8px 0;
    }
    .upload-document {
      font-size: 26px;
      border: 1px solid gray;
      padding: 58px 66px;
      margin-top: 16px;
    }
  }

  .document-list {
    max-height: 300px;
    width: 100%;
    overflow-y: scroll;
    padding: 16px 0;
    width: 100%;
    &::-webkit-scrollbar {
      //display: none;
    }
  }

  .btn {
    position: relative;
    margin: 4px;
    // height: 40px;
    padding: 10px;
    border-radius: 4px;
    font-size: 18px;
    margin: 8px 16px 0 8px;
    border: 0pc;
    color: #4f4f4f;
    &.primary {
      background-color: #0e41bf;
      color: white;
      border-color: #0e41bf;
    }
    &.finished {
      background-color: #d8ebf6;
      color: #0e41bf;
    }
  }

  .DefineProcess {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

  .SubmitProject {
    display: flex;
    align-items: flex-start;
    min-width: 800px;
    flex-direction: column;
    //width: 100%;
    padding: 16px 0;
    .content {
      display: flex;
    }

    .left {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      .message-container {
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        width: 100%;
        .subject {
          padding-top: 16px;
          width: 100%;
        }
        .message {
          padding-top: 24px;
          width: 100%;
        }
      }
    }
    .right {
      width: 40%;
      padding-left: 16px;
      text-align: left;
      .header {
        font-size: 28px;
      }
    }
  }

  .content {
    display: flex;

    //min-width: 1024px;
    height: 100%;
    .left-panel {
      min-width: 300px;
      background-color: #f2f2f2;
      display: flex;
      flex-direction: column;
      padding: 0 16px;
      height: 100%;
      .link {
        font-size: 18px;
        color: #5299db;
        padding: 8px;
        align-self: flex-start;
        padding-bottom: 30px;
      }
      .header {
        font-size: 20px;
        color: #4f4f4f;
        padding: 8px;
        align-self: flex-start;
        padding-bottom: 16px;
      }
    }
    .right-panel {
      padding: 0 120px;
      width: 100%;
      .button-container {
        padding: 16px 0;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
      }
    }
  }
}
