.DashBoard {
  text-align: center;

  .full-page {
    background-color: yellow;
    height: 300px;
    //border: 1px solid black;
  }

  .container {
    //border: 1px solid black;
    border-radius: 25px;
    margin: 16px 0 0 0;
    &.s-2 {
      width: 33%;
    }
    &.s-4 {
      width: 67%;
    }
    &.s-6 {
      width: 100%;
    }
    &.h {
      display: flex;
    }
    &.v {
      display: flex;
    }
  }

  .assigned-documents {
    padding-left: 16px;
  }

  .create-document {
    background-color: #f2f2f2;
    border-radius: 25px;
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    .header {
      font-size: 46px;
      font-weight: 700;
      color: #4f4f4f;
      padding: 8px;
    }
    .details {
      font-size: 22px;
      color: #4f4f4f;
      padding: 8px;
    }
    .button-container {
      padding: 16px 0;
    }
    .btn {
      padding: 12px;
      border-radius: 4px;
      font-size: 18px;
      margin: 0 16px 0 8px;
      border-color: #0e41bf;
      &.primary {
        background-color: #0e41bf;
        color: white;
        cursor: pointer;
      }
      &.secondary {
        color: #0e41bf;
      }
    }
  }

  .content {
    min-width: 1024px;
    padding: 0 10%;
  }
}
