.DocumentStatusItem {
  width: 25%;
  border-radius: 16px;
  //background-color: yellow;
  margin-left: 16px;
  &:first-child {
    margin-left: 0px;
  }
  .container {
    display: flex;
    flex-direction: column;
    padding: 8px 12px;
    align-items: flex-start;
    text-align: start;

    padding: 24px;

    &.warning {
      background-color: #fff2cc;
    }
    &.success {
      background-color: #daeaea;
    }
    &.error {
      background-color: #f0c7ba;
    }
    &.normal {
      background-color: #d8ebf6;
    }

    .header {
      font-size: 18px;
      font-weight: 600;
      color: #4f4f4f;
      padding: 16px 0;
    }
    .detail {
      font-size: 24px;
      color: #4f4f4f;
      font-weight: 600;
      padding-bottom: 16px;
    }
    .icon {
      .data {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
      }
    }
  }
}
