.emailView {
  padding: 60px;
  .title {
    font-weight: 700;
    font-size: 30px;
    margin: 20px 0;
  }
  .content {
    width: 60%;
    margin: 0 auto;
  }
  .subtitle {
    text-align: left;
    font-size: 22px;
    margin: 15px 0;
  }
  .btn {
    position: relative;
    margin: 4px;
    // height: 40px;
    padding: 10px;
    border-radius: 4px;
    font-size: 18px;
    margin: 8px 16px 0 8px;
    border: 0pc;
    color: #4f4f4f;
    cursor: pointer;
    &.primary {
      background-color: #0e41bf;
      color: white;
      border-color: #0e41bf;
    }
    &.finished {
      background-color: #d8ebf6;
      color: #0e41bf;
    }
  }
  .list {
    text-align: left;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    .list-item-container {
      display: flex;
      width: 100%;
      .text {
        font-size: 20px;
        font-weight: 700;
        width: 80%;
      }
    }
    div {
      margin: 10px 0 10px 60px;
    }
    button {
      margin-left: 20px;
    }
  }

  .link {
    font-size: 18px;
    color: #5299db;
    padding: 8px;
    padding-bottom: 30px;
    text-align: left;
    cursor: pointer;
  }
}
.MuiDialog-container {
  .dialog {
    .header {
      padding: 16px 8px;
      font-size: 18px;
      span {
        padding-right: 8px;
      }
    }
    div {
      width: 100%;
      margin: 10px 0;
      padding: 20px;
      font-size: 18px;

      span {
        width: 20%;
      }

      button {
        margin-left: 20px;
      }
    }
  }
}
