.DocumentListItem {
  width: 90%;
  padding: 16px;
  background-color: #f2f2f2;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  margin: 8px 0;
  .item-container {
    display: flex;
  }
  .left {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: flex-start;
    text-align: left;
    .file-name {
      font-size: 26px;
    }
    .detail {
      font-size: 22px;
      padding-top: 16px;
    }
    .switch {
      padding-top: 16px;
    }
  }
  .right {
    display: flex;
    vertical-align: middle;
    align-items: flex-start;
    justify-content: flex-end;
    width: 40%;

    .btn {
      position: relative;
      // height: 40px;
      padding: 12px;
      border-radius: 4px;
      font-size: 18px;
      margin: 0 16px 0 8px;
      border-color: #0e41bf;
      &.primary {
        background-color: #0e41bf;
        color: white;
      }
      &.secondary {
        color: #0e41bf;
      }
    }
    .icon {
      font-size: 18px;
      align-items: center;
      padding: 8px;
    }
  }
}
