.LoginPage {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  height: 100%;
  .login-panel {
    min-width: 500px;
    .input-form {
      display: flex;
      flex-direction: column;
      .text-field {
        padding: 16px;
      }
    }
    .button-container {
      padding: 16px;
      .btn {
        position: relative;
        padding: 12px;
        border-radius: 4px;
        font-size: 18px;

        border: 0pc;
        color: #4f4f4f;
        &.primary {
          background-color: #0e41bf;
          color: white;
          border-color: #0e41bf;
        }
        &.fullwidth {
          width: 100%;
        }
        &.finished {
          background-color: #d8ebf6;
          color: #0e41bf;
        }
      }
    }
  }
}
