.DocumentDataTable {
  .header {
    display: flex;
    min-width: 100px;
    padding: 16px 0;
    font-size: 20px;
  }
  .cell {
    min-width: 100px;
    text-align: left;
    word-wrap: break-word;
    &.w-1 {
      min-width: 10%;
    }
    &.w-2 {
      min-width: 20%;
    }
    &.w-3 {
      min-width: 30%;
    }
    &.w-4 {
      min-width: 40%;
    }
    &.w-5 {
      min-width: 50%;
    }
    &.w-6 {
      min-width: 60%;
    }
    &.w-10 {
      min-width: 100%;
    }
  }
  .data {
    height: 200px;
    overflow-y: scroll;
    .row {
      display: flex;
      align-items: center;
      padding: 4px 0;

      button {
        padding: 3px 12px;
      }
    }
  }
}
